﻿<?xml version="1.0" encoding="utf-8" ?>
<sport-voting-statistics category="summary">
    <!-- Sport voting system by Cezary Wernik -->
    @Each.Model.athletes
    <participant>
        <Id>@Current.Id</Id>
        <Name>@Current.Name</Name>
        <Surname>@Current.Surname</Surname>
        <Description>@Current.Description</Description>
        <Sport>@Current.Sport</Sport>
        <Score>@Current.Points</Score>
        <PositiveVotes>@Current.PointsP</PositiveVotes>
        <NegativeVotes>@Current.PointsN</NegativeVotes>
    </participant>
    @EndEach
</sport-voting-statistics>
